.hero-container {
  background: linear-gradient(
      to bottom,
      rgba(10, 73, 155, 0.6) 0%,
      rgba(64, 6, 119, 0.6) 100%
    ),
    url("../images/houses-cover.jpg") center center/cover no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  object-fit: contain;
}

.hero-container > h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: aliceblue;
}

.hero-container > p {
  font-size: 2rem;
  font-weight: 400;
  color: bisque;
}

.hero-buttons {
  display: flex;
}

.first-button {
  margin-right: 2rem;
}
